.container{
   margin-left : 50px;
}
.bg-nav{
    margin-top : 5px;
    margin-left : 5px;
    margin-right : 5px;
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mt-50{
    margin-top:200px;
    margin-left:200px;
}

.card{
margin-top : 50px;
margin-left : 200px;
width: 100%;
}
.card_body1{
margin-left: 10px;
margin-right: 10px;
}

.card_body{
margin-left: 10px;
margin-right: 10px;
}
.form{
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
height: 100%;
}

.form-registration{
margin-top:20px;
}
.form-register{
margin-top:20px;
}
#text{
display: block;
color: #000;
font-weight: 300;
font-style: italic;
padding: 5px;
}

select {
    width: 100%;
}